H1, h2, h3, h4, h5 {
    color: #293031;
}

body {
    text-align: center;
    color: #2c2929;
    font-family: 'Times New Roman', Times, serif
    background-color: rgb(250, 250, 252);
}

ul {
    text-align: center;
    list-style-type: none;
}

.btn{
    color:#19266e;
    border-color: #19266e;
    
}
.btn:hover{
    color: white;
    background: #19266e;

}

img {
    width: 800px;
    height: 800px;
    object-fit: scale-down;
    max-width: 100%;
}